.header-container {
    margin-top: 56px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), center no-repeat url('../../../public/portfolio_background.jpg');
    background-size: cover;
    height: 60vh;
}

.header-text {
    padding-top: 80px;
    color: white;
}

@media (max-width: 980px) {
    .header-text {
        padding-top: 120px;
    }
    .header-text h1 {
        font-size: 28px;
    }
    .header-text h3 {
        font-size: 19px;
    }
}