#navbarNav {
    justify-content: center;
    font-size: 19px;
}

.nav-link {
    transition: ease 0.2s;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-link:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}
